pkgbase = noctalia-meta
	pkgdesc = A meta package that depends on several packages for the Noctalia setup.
	pkgver = 1.15
	pkgrel = 1
	url = https://docs.noctalia.dev/docs/
	arch = any
	license = custom:meta
	depends = hyprsaver
	depends = hyprland
	depends = nautilus
	depends = uwsm
	depends = app2unit
	depends = ferdium
	depends = ddcutil
	depends = hyprpicker
	depends = eza
	depends = fish
	depends = hyprpicker
	depends = grim
	depends = imagemagick
	depends = wl-clipboard
	depends = satty
	depends = tesseract
	depends = tesseract-data-eng
	depends = tesseract-data-ara
	depends = jq
	depends = xdg-utils
	depends = wf-recorder
	depends = pamac
	depends = wayscriber-bin
	depends = wayscriber-configurator
	depends = i2c-tools
	depends = starship
	depends = ttf-jetbrains-mono-nerd
	depends = xdg-desktop-portal-hyprland
	depends = xdg-desktop-portal-hyprland
	depends = xdg-desktop-portal-gtk
	depends = adw-gtk-theme
	depends = noctalia-shell
	depends = polkit-gnome
	depends = rofi-rbw
	depends = nwg-look
	depends = monique
	depends = ghostty
	depends = zen-browser
	depends = toml-cli
	provides = noctalia-meta

pkgname = noctalia-meta
